:root {
  --color-dark: rgb(20, 20, 20);
  --color-1: #ffffff;
  --color-2: #7fa99b;
  --color-3: #fdc57b;
  --color-underline: #fbf2d5;

  --accent-font: "Major Mono Display", monospace;
}

.nav-body {
  background-color: var(--color-1);
}

.about-text {
  font-size: 14px;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--color-dark);
  text-underline-offset: 5px;
}

.contact-text {
  text-align: left;
}

.container {
  max-width: 900px;
}

.fa-location-dot {
  font-size: 12px;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--color-dark);
  text-underline-offset: 5px;
}

.np-logo {
  opacity: 0.9;
}

.social-icons {
  font-size: 14px;
}

.xs-text {
  font-size: 12px;
}

.xxs-text {
  font-size: 10px;
}

#page-top::before {
  content: "";
  display: block;
  height: 150px;
  margin-top: -150px;
  visibility: hidden;
}

body {
  margin-top: 150px;
}

h1 {
  font-size: 60px;
  font-family: "Major Mono Display", monospace;
}

h2 {
  text-align: left;
}

p {
  text-align: justify;
}

@media (max-width: 576px) {
  .work-image {
    display: none;
  }

  .contact-text {
    text-align: center;
  }

  .intro-title {
    font-size: 12px;
  }

  h2 {
    text-align: center;
    margin-top: 30px;
  }
}
