:root {
  --color-dark: rgb(20, 20, 20);
  --color-1: #ffffff;
  --color-2: #7fa99b;
  --color-3: #fdc57b;
  --color-underline: #fbf2d5;

  --accent-font: "Major Mono Display", monospace;
}

.nav-body {
  background-color: var(--color-3);
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--color-1);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--color-1);
  text-underline-offset: 5px;
}

.navbar-toggler {
  color: white;
}

.sub-title {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--accent-font);
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--color-dark);
  text-underline-offset: 5px;
}

.contact-text {
  text-align: left;
}

.container {
  max-width: 900px;
}

.fa-location-dot {
  font-size: 12px;
}

.footer-main {
  background-color: var(--color-1);
}

.intro-text {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  padding-bottom: 10px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-dark);
}

.np-logo {
  opacity: 0.9;
}

.project-link {
  color: black;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-3);
}

.social-icons {
  font-size: 14px;
}

.work-data {
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
}

.work-info {
  font-size: 14px;
  line-height: normal;
}

.xs-text {
  font-size: 12px;
}

.xxs-text {
  font-size: 10px;
}

#page-top::before {
  content: "";
  display: block;
  height: 150px;
  margin-top: -150px;
  visibility: hidden;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--color-1);
  text-underline-offset: 5px;
}

body {
  margin-top: 150px;
}

h1 {
  font-size: 60px;
  font-family: "Major Mono Display", monospace;
}

h2 {
  text-align: left;
}

p {
  text-align: justify;
}

@media (max-width: 576px) {
  .sub-title {
    font-size: 14px;
  }
  .contact-text {
    text-align: center;
  }

  .intro-title {
    font-size: 12px;
  }

  .name {
    font-size: 72px;
  }

  .portrait-pic {
    margin-top: 20px;
  }

  .surname {
    display: block;
    font-size: 26px;
    font-weight: bold;
  }

  .work-data {
    text-align: center;
  }

  .work-image {
    display: none;
  }

  h2 {
    text-align: center;
    margin-top: 30px;
  }
}
