:root {
  --color-dark: rgb(20, 20, 20);
  --color-1: #ffffff;
  --color-2: #7fa99b;
  --color-3: #fdc57b;
  --color-underline: #fbf2d5;
  --main-font: Verdana, Geneva, Tahoma, sans-serif;
  --accent-font: "Major Mono Display", monospace;
}

body {
  background-color: var(--color-1);
  font-family: var(--main-font);
  margin: 0;
  height: 1080px; /* Set body height to full viewport height */
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 60px;
  font-family: var(--accent-font);
  color: var(--color-dark);
}

footer {
  color: var(--color-dark);
}

a {
  text-decoration: none;
}

.footer-main {
  background-color: var(--color-1);
}

.frontend h4,
.architecture h4 {
  font-family: var(--accent-font);
  font-weight: bold;
  color: var(--color-dark);
}

.container-fluid {
  flex: 1; /* Allow the container to grow and take remaining height */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.header {
  padding: 120px 0px;
}

.frontend {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  height: 500px;
  background-color: var(--color-2);
}

.architecture {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  height: 500px;
  background-color: var(--color-3);
}

.frontend-link-hover {
  transition: 1s ease;
  background-image: linear-gradient(
      rgba(127, 169, 155, 0.5),
      rgba(127, 169, 155, 0.5)
    ),
    url(/images/frontend.jpg);
  background-size: cover;
  background-position: bottom;
}

.architecture-link-hover {
  transition: 1s ease;
  background-image: linear-gradient(
      rgba(253, 197, 123, 0.5),
      rgba(253, 197, 123, 0.5)
    ),
    url(/images/arch.jpg);

  background-size: cover;
  background-position: bottom;
}

.intro-text {
  font-size: 14px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin: 20px auto;
  max-width: 800px;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--color-underline);
  text-underline-offset: 5px;
}

.contact-text {
  text-align: left;
}

.fa-location-dot {
  font-size: 12px;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--color-underline);
  text-underline-offset: 5px;
}

.np-logo {
  opacity: 0.9;
}

.project-link {
  color: var(--color-dark);
  text-decoration: none;
  padding: 0 5px;
}

.project-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-dark);
}

.social-icons {
  font-size: 14px;
}

.work-data {
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
}

.work-info {
  font-size: 14px;
  line-height: normal;
}

.xs-text {
  font-size: 12px;
}

#page-top::before {
  content: "";
  display: block;
  height: 150px;
  margin-top: -150px;
  visibility: hidden;
}

@media (max-width: 576px) {
  .intro-text {
    margin: 20px 0;
  }

  .contact-text {
    text-align: center;
  }

  .intro-title {
    font-size: 12px;
  }

  .name {
    font-size: 72px;
  }

  .portrait-pic {
    margin-top: 20px;
  }

  .surname {
    display: block;
    font-size: 26px;
    font-weight: bold;
  }

  .work-data {
    text-align: center;
  }

  .work-image {
    display: none;
  }

  h2 {
    text-align: center;
    margin-top: 30px;
  }
}
