:root {
  --color-dark: rgb(20, 20, 20);
  --color-light: rgb(250, 250, 250);
  --color-1: #f2f9f1;
  --color-2: #ddeedf;
  --color-3: #b6cdbd;
  --main-font: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background-color: var(--color-1);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.links-container {
  display: flex;
  align-items: stretch;
}

.architecture {
  text-align: center;
  width: 50%;
  background-color: var(--color-2);
}

.frontend {
  text-align: center;
  width: 50%;
  background-color: var(--color-3);
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ffc107;
  text-underline-offset: 5px;
}

.contact-text {
  text-align: left;
}

.fa-location-dot {
  font-size: 12px;
}

.intro-text {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  padding-bottom: 10px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #ffc107;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ffc107;
  text-underline-offset: 5px;
}

.np-logo {
  opacity: 0.9;
}

.project-link {
  color: black;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #ffc107;
}

.social-icons {
  font-size: 14px;
}

.work-data {
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
}

.work-info {
  font-size: 14px;
  line-height: normal;
}

.xs-text {
  font-size: 12px;
}

#page-top::before {
  content: "";
  display: block;
  height: 150px;
  margin-top: -150px;
  visibility: hidden;
}

body {
  font-family: var(--main-font);
}

h1 {
  font-size: 60px;
  font-family: "Major Mono Display", monospace;
  color: var(--color-dark);
}

h2 {
  text-align: left;
}

p {
  text-align: justify;
}

@media (max-width: 576px) {
  .contact-text {
    text-align: center;
  }

  .intro-title {
    font-size: 12px;
  }

  .name {
    font-size: 72px;
  }

  .portrait-pic {
    margin-top: 20px;
  }

  .surname {
    display: block;
    font-size: 26px;
    font-weight: bold;
  }

  .work-data {
    text-align: center;
  }

  .work-image {
    display: none;
  }

  h2 {
    text-align: center;
    margin-top: 30px;
  }
}
