:root {
  --color-dark: rgb(20, 20, 20);
  --color-light: rgb(250, 250, 250);
  --color-1: #f2f9f1;
  --color-2: #ddeedf;
  --color-3: #b6cdbd;
  --main-font: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  text-align: center;
}

.header {
  background-color: var(--color-1);
}

.section-left {
  background-color: var(--color-2);
}

.section-right {
  background-color: var(--color-3);
}
